
/* ==========================================================================
   CSS Reset
   ========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   INDEX Author's custom styles
   ========================================================================== */

body{

    background-color: black; 
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    color: white;
    width: 100%;

}

.float-container {
    overflow:hidden;
}

/***************************NAV STYLES*********************************/

.hamburger-button {
    margin-left: 92%;
    margin-top: 10px;
    width:70px;
    height:70px;
    margin-bottom: 15px;
    stroke:red;
}


.nav-border {
    display: none;
    border-top: 4px solid #FF4500;
    margin-bottom: 15px;
}

.toggled-nav ul {
    display: none;
    border-bottom: 4px solid blue;
    border-right:4px solid yellow;
    border-top: 4px dashed #00FA9A;
    padding-top: 5px;
    padding-bottom: 5px;
}

.first-nav-option, .second-nav-option, .third-nav-option {
font-size: 18px;
color:#00FF7F;
/*margin-left: 5px;*/

}

a, a:visited {
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: #00FF7F;
    font-weight: bold;
}


h1.index-header-style {
    font-size: 60px;
    line-height: 1.5em;
    
}

.starry-awesomeness {
    position: relative;
    z-index: -9999;
}



/***************************PATH & PATH STYLES*********************************/

.big {
    display: block;
    font-size: 25px;
    line-height: 1.3em;
    margin-bottom: 10px;

}


.wrapper {
    position:absolute;
   
}

.settings, nav {
    position: fixed;
    z-index: 9999999;
    bottom: 0;
    background: rgba(10,10,10, 0.5);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.settings {
    right: 0;
    padding: 10px 20px;
    border-radius: 10px 0 0 0;
}

.settings a {
    border: none;
}


.sp-canvas {
    display: none;
}


.arrow {
    position: relative;
    display: inline-block;
}

.name-intro { 
    width: 800px;
    font-size: 25px;
    color: white;
    text-align: center;
    -webkit-transform: skew(20deg);
       -moz-transform: skew(20deg);
         -o-transform: skew(20deg);
}

.name-intro .arrow {
    font-size: 40px;
   -webkit-animation:: point-down 0.5s alternate infinite;
}


.parallelogram {
    width: 500px;
    *height: 100px;
    
}

.copy-movement-analogy {
    top: 740px;
    left: 180px;
    width: 440px;
}

.thesis-amherst {
    top: 1510px;
    left: 430px;
    width: 470px;
}

.transition-hedge-fund {
    top: 1350px;
    left: 1600px;
    width: 640px;
    padding-right: 35px;
    background-color: red;
}

/*

.squirrel {
    top: 2000px;
    left: 1000px;
    width: 200px;
    height:200px;
    transform: rotate(-90deg) translateY(2.5em);
}

.squirrel .upside-down {
    font-size: 25px;
    text-align: right;
    transform: rotate(180deg) translateY(3em);
}
*/

.lawschool-finance {
    left: 2000px;
    top: 1000px;
    width: 460px;
    -webkit-transform: rotate(-90deg);
    background-color: blue;
    *padding-right: 270px;
}

/*POTENTIAL STYLING FOR DIVS*/

.lawschool-finance-text{
    margin-left: 270px;
}

.waning-excitement {
    left: 2200px;
    top: -800px;
    width: 400px;
     -webkit-transform: rotate(-90deg);
}

.side-project-lesson {
    width: 475px;
    left: 1100px;
    top: -950px;
    -webkit-transform: rotate(-90deg);

}

/*
div.side-project-lesson:hover 
{ transition: width;
transition-duration: 1s;
transition-timing-function: linear;
transition-delay: 2s;;
    
}
*/

.tap-farm-description {
    width: 475px;
    left: 400px;
    top: -2100px;
     -webkit-transform: rotate(-90deg);

}

.fast-forward-text {
    width: 475px;
    left: -1200px;
    top: 600px;
     -webkit-transform: rotate(-90deg);
}

.spoutlets-description {
    width: 475px;
    left: -2000px;
    top: 700px;
    -webkit-transform: rotate(-90deg);

}

.ws-description {
    width: 475px;
    left: -2500px;
    top: -900px;
      -webkit-transform: rotate(-90deg);

}

.conclusion {
    width: 475px;
    left: -2700px;
    top: -2200px;
     -webkit-transform: rotate(-90deg);

}

.epilogue {
    width: 475px;
    left: -1700px;
    top: -2300px;
     -webkit-transform: rotate(-90deg);

}

/*

.highlight {
    animation: highlight 0.2s alternate 6 ;
}

@keyframes point-down {
    from {
        top: 0;
    }
    to {
        top: 5px;
    }
}

@keyframes highlight {
    to {
        background: lightblue;
    }
}
*/


 /*==========================================================================*/
   /*CONTACT FORM STYLES*/
/*========================================================================== */

body.contact-form-body {
    background-color: black;
    padding: 0 15px;
    width: 100%;
}

.content-wrapper.container {
     padding: 0 15px;
}

.hello-header {
    color: #33FF99;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: bold;
    text-shadow: 2px 3px 2px blue;

}

.form-header-border {
    border-top: 2px solid white;
    margin-bottom: 15px;
}

.linkedin-icon {
    width: 30px;
    height:30px;
}


.first-name-input {
    margin-top: 30px;
}

.first-name-input,
.last-name-input,
.email-input {
    margin-bottom: 10px;
    padding-bottom:7px;
    padding-top: 7px;
    border: 1px solid white;
    background-color: black;
    font-size: 14px;
    width: 100%;
    color: #33FF99;
}

.last-name-input,
.email-input {
    margin-top: 10px;
}


.textarea-box { 
    outline: none; 
    border: 1px solid white;
    background-color: black;
    margin-top: 10px;
    color: #33FF99;
    font-size: 14px;
    width:100%;

}


input.submit-button{
  display:block;
  background:none;
  border:1px solid white;
  padding-left:12px;
  padding-right:12px;
  font-size:18px;
  color:white;
  margin: 30px auto;
  padding-top:12px;
  padding-bottom: 12px;

}

input.submit-button:hover {
    background-color: blue;
    color:yellow;
    font-weight:bold;
}

.form-width-control {
    width: 53%;
    margin: 0 auto;
}


/* ==========================================================================
UX DESIGN STYLES
   ========================================================================== */
   .main-content-wrapper.my-work-page {
        width: 100%;

   }

   .first-company {
    background-color: #00FA9A;
   }

   .second-company {
    background-color: #3366FF;
   }

   .writing {
    background-color: yellow;
   }



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}



